.box1 {
  width: 300px;
  height: 300px;
  background-color: #9400d3;
  /* 色の名前は、「cssカラーコード」「cssカラーネーム」で調べる。 */
  margin: 40px;
  padding: 30px;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  border: 5px solid yellow;
}
